# Local
.DS_Store
*.local
*.log*

# Dist
node_modules
dist/

# IDE
.vscode/*
!.vscode/extensions.json
.idea
.vscode
.claude
.*-mcp
.classpath
.project
.settings/
target
ai

.cargo/config.toml
*.crt
*.key

target_old

*.mp4
*.rec

.env
