[package]
name = "temps-queue"
version.workspace = true
edition.workspace = true
license.workspace = true
authors.workspace = true
repository.workspace = true
homepage.workspace = true

[dependencies]
temps-core = { path = "../temps-core" }
serde = { workspace = true }
tokio = { workspace = true }
tracing = { workspace = true }
log = { workspace = true }
thiserror = { workspace = true }
utoipa = "5.1"
